In [4]:
import sqlite3

In [5]:
cliente = 'clientes.-db'

## Criar tabelas

In [6]:
script_clientes = '''CREATE TABLE IF NOT EXISTS Clientes(
                id INTEGER PRIMARY KEY AUTOINCREMENT,
                nome TEXT NOT NULL,
                idade INTERGER NOT NULL,
                 email TEXT NOT NULL
);'''
try:
    with sqlite3.connect(cliente) as con:
        # criar um cursor
        cur = con.cursor()

        # executar o script
        cur.execute(script_clientes)

        # salvar as alterações no banco de dados
        con.commit()
        print('tabela criada com sucesso!')
except sqlite3.OperationalError as e:
    print('erro:', e)

tabela criada com sucesso!

## consultar Tabelas

In [8]:
sql = 'SELECT * FROM Clientes'

try:
    with sqlite3.connect(cliente) as con:
        # criar cursor
        cur = con.cursor()

        # executar o script
        cur.execute(sql)
        res = cur.fetchall() # retorna uma lista de listas
        print(res)
except sqlite3.OperationalError as e:
    print("Erro", e)

[]

## inserir Dados

In [ ]:
sql = 'INSERT INTO Clientes (nome, idade, email) VALUES (?,?,?)'
try:
    with sqlite3.connect(cliente) as con:
        # criar o cursor
        cur = con.cursor()
        # executar o script
        cur.execute(sql, ('arthur',15,'arthurlopes@gmail.com'))
        # salvar as alterações no banco de dados
        con.commit()
except sqlite3.OperationalError as e:
    print('Erro', e)

## Atualizar um registro

In [11]:
sql = 'UPDATE SET idade = ? WHERE id = ?'

try:
    with sqlite3.connect(cliente) as con:
        # criar cursor 
        cur= con.cursor()
        # executar o script
        cur.execute(sql,(28,1))
        # salvar as alterações no banco de dados
        con.commit()
except sqlite3.OperationalError as e:
    print('Erro', e)

Erro near "SET": syntax error

## deletar registro

In [14]:
sql = "DELETE FROM Clientes WHERE id = ?"
try:
    with sqlite3.connect(cliente) as con:
        cur= con.cursor()
        con.commit()
except sqlite3.OperationalError as e:
    print('erro', e)

In [ ]:
con.close()
print('conexão encerrada')